[2013-09-24 04:57] mwcraig opened #1 "No visual difference between one dash and two in options listing and help option isn't listed"
In the HTML output when there are both short and long versions of an option (e.g. -v and --verbose) the dashes in front of both options look the same. There should be a clear double dash in front of the long option name.

An rst file that demonstrates the bug is:

[code]

where the file `parser_bug.py` is:

[code]

[2013-09-30 12:39] #1 closed, assigned to ribozz

[2013-11-14 11:05] lqc opened #3 "Option with action="version" renders as ``-V===SUPPRESS==``"
I have a version argument added with following code:

[code]

It renders as:

[code]

I would expect it to be just:

[code]

[2013-11-15 08:39] #3 closed, assigned to nobody

[2013-12-10 19:56] jukowski opened #4 "Showing epilog"
Epilog just gets ignored. Would be nice if it would be shown as it might contain examples.

[2014-03-28 16:58] cottrell opened #6 "sphinx-argparse auto detection like in sphinx-apidoc"
A question not an issue: Any thoughts on a path to moving toward including this in sphinx-apidoc. I had a quick look at the apidoc script and it seems it might make sense to do something similar ... might be tricky to handle generic cases though.

Or maybe this already exists and I have not found it?

[2014-03-31 13:16] #4 closed, assigned to nobody

[2014-05-15 10:00] Felix-neko opened #9 "Display argument choises"
Thank you for your package, comrades! It is extremely useful, but cannot you support argument choices display?

For example, when I add an argument with choices in such way

[code]

The choices are not displayed in argument description. They are seen only in usage string at the top of the page, that is usually too large to be read by user.

Cannot you add a display of the choices of arguments to t

[2014-05-15 10:08] #6 closed, assigned to nobody

[2014-05-15 11:52] #9 closed, assigned to nobody

[2014-05-15 12:19] Felix-neko opened #10 "A bug with python3 support"
[code]

It fails on my Python 3 Sphinx. Cannot you fix it?

[2014-05-15 12:29] #10 closed, assigned to nobody

[2014-05-15 23:51] jamesra opened #11 "Use builtin sphinx errors, clarify reason argparse fails when function argument is incorrect"
When the :func: argument is incorrect the output does not indicate where the failure is.  Here is a sample log:

  File "C:\Python27\lib\site-packages\sphinxarg\ext.py", line 199, in run
    func = getattr(mod, self.options['func'])
AttributeError: 'module' object has no attribute 'ProcessArgs'

I have a fix for this I will push soon.

[2014-05-29 16:29] #11 closed, assigned to nobody

[2014-07-30 22:46] mr-c opened #16 "How is this different from autoprogram?"
https://pythonhosted.org/sphinxcontrib-autoprogram/

[2014-08-18 20:47] #16 closed, assigned to nobody

[2014-09-08 20:26] snmishra opened #19 "Formatting similar to RawDescriptionHelpFormatter"
I want to include a multi-paragraph description for my program. With argparse, I can do that using formatter_class=RawDescriptionHelpFormatter. sphinx-argparse always uses the default formatter class, which removes all extra whitespace.

[2014-10-09 15:02] SpoonMeiser opened #20 "Most of your releases aren't tagged in git, and don't appear as releases in github"
Given that this isn't widely available currently, this would make it easier for me to package for internal use at work.

[2014-12-03 21:11] ideasman42 opened #21 "Each command alias will have its own documentation"
When a subcommand has an alias set, it will have its documentation written for the original command and for every alias.

This is very easy to redo, see the example using alias in Python docs. - If you add multiple, you can easily see the problem.
https://docs.python.org/3/library/argparse.html#sub-commands

[2015-02-04 09:02] ribozz commented on #20
Starting from 0.1.14 it has tag now.
have also plans to automate builds of package (now doing all manually).

[2015-02-04 09:02] #20 closed

[2015-02-04 09:06] ribozz commented on #21
Commit merged, so close the issue, would be nice also if we would have some nice example in docs that illustrates this topic. Ex. here: http://sphinx-argparse.readthedocs.org/en/latest/sample.html#generated-sample-1-command-with-subcommands

[2015-02-04 09:06] #21 closed

[2015-02-04 09:09] ribozz commented on #19
Commit merged, so would close issue even as pull request refer this as "partial fix", if further fixing needed. Another ticket can be created describing what's still missing there.

[2015-02-04 09:09] #19 closed

[2015-02-04 09:10] ribozz commented on #19
Fix is included to 0.1.14 version

[2015-03-24 16:59] fallen opened #27 "%(default) not supported in help message"
It seems sphinx-argparse does not support expanding the %(default) contained in help string of the add_argument().
sphinx-argparse will literaly print "%(default)" instead of replacing it with the default argument of the add_argument().

Please, see https://docs.python.org/3/library/argparse.html#help

Thanks!

[2015-04-28 20:54] jamesra opened #29 ""Undocumented" string for subparsers"
I have a set of parsers added to a subparser.  For some reason the "description" field of each subparser is being displayed below an "Undocumented" string.

It appears this could be fixed by removing a line of code in ext.py, but I am concerned about side effects.

![subparser_description](https://cloud.githubusercontent.com/assets/4551553/7379738/cdf794c6-edab-11e4-809b-949764a95f38.png)

[2015-06-08 16:08] jonathf opened #30 "Installation trouble"
Setup:
OS: Ubuntu 14.04
Sphinx: 1.3.1
Sphinxarg: 0.1.15
Python: 2.7.6

Tried install both using `sudo pip install sphinxarg` and `sudo python setup.py install`from source, but with same results.

`sphinxarg.ext` is added to `conf.py` as follows:

    extensions = ["sphinx.ext.autodoc", "sphinx.ext.napoleon", "sphinxarg.ext"]

When I add the module, I get the following error:

    $ make latexpdf

[2015-06-09 13:55] ribozz commented on #30
On this line (ext.py line 324 https://github.com/ribozz/sphinx-argparse/blob/master/sphinxarg/ext.py#L324) user's module import is happening. So, it's not a problem with sphinx-argparse module availability, rather some typo/misconfiguration in directive used in user's docs.

Can you show please how you use sphinx-argparse directive?

[2015-06-09 19:31] jonathf commented on #30
Ah. That was where the problem were.

I used the directive

    .. argparse::
        :module: mconvert
        :func: create_parser
        :prog: mconvert

However, Mconvert is the main module. I fixed the problem by changing it to

    .. argparse::
        :module: mconvert.__init__
        :func: create_parser
        :prog: mconvert

[2015-06-09 19:31] #30 closed

[2016-01-08 16:05] kratsg opened #36 "Default arguments with string values should have strings in the output documentation"
<img width="547" alt="screenshot 2016-01-08 11 04 06" src="https://cloud.githubusercontent.com/assets/761483/12202387/8c5b6640-b5f7-11e5-9fd9-423ced23524a.png">

[code]

As you can see, it looks like it suggests people should write `--optLSFConf=-q short` instead of `--optLSFConf="-q short"`.

[2016-02-28 17:50] rjplevin opened #37 "both 'help' and 'description' text are output; only help is @replaced"
I'm documenting a program with sub-commands. I use both `help="short message"` and `description="Longer message..."` options to `add_parser()`, which produces a nice summary when using the `-h` flag on the main command, and longer messages when using `-h` on sub-commands.

I note these problems:
1. The generated documentation includes both of these strings, which is redundant. If the `description`

[2016-08-25 17:43] tgarc commented on #27
Yes this is also an issue for me as I always include the %(default) variable in help strings.

[2016-08-30 23:23] ajm188 opened #38 "Line breaks in usage"
My generated usage text is way too long, so it generates a very narrow scrolling window in order view it all.

It would be awesome if there was a way to insert line breaks in the usage to make it look prettier.

[2016-08-31 00:18] ajm188 commented on #38
Based on my skimming, this relates most closely to #19

[2016-10-06 12:29] dpryan79 commented on #27
I've now implemented this in the `develop` branch. Please give it a try and let me know if it has trouble with any of your use cases.

[2016-10-06 12:29] #27 closed

[2016-10-06 13:00] dpryan79 commented on #36
My preferred solution would be to only put the defaults in quotes in cases where it includes a space. Would that suffice to you or do you have any other thoughts there?

[2016-10-06 13:04] dpryan79 commented on #36
BTW, I have a branch (`feature/quote_help_strings_fix36`) that implements my suggestion. Please feel free to give it a try!

[2016-10-06 13:06] dpryan79 commented on #37
@rjplevin: Can you give an example for this? It'd be helpful for changing the implementation.

[2016-10-07 13:55] kratsg commented on #36
@dpryan79 I think it should always include quotes.

[2016-10-07 13:57] dpryan79 commented on #36
Fine by me, that's what I'll implement then :)

[2016-10-07 21:35] dpryan79 commented on #36
This is now implemented as requested in the `develop` branch.

[2016-10-07 21:35] #36 closed

[2016-11-29 14:19] dpryan79 commented on #38
Are you referring specifically to "usage" lines, such as this: https://github.com/fidelram/deepTools/blob/master/deeptools/computeMatrix.py#L61-L62 ?

At least in cases such as that with html output you can insert `\n` where ever you like. Regarding the documentation for the actual options, I agree that it'd be nice to choose between scrolling down and sideways.

[2016-11-29 14:23] ajm188 commented on #38
@dpryan79 I'm talking more about the scrolling, I think. See my comments [here](https://github.com/Yelp/undebt/issues/39#issuecomment-243609724) for more info.

Happy to help dig in to this. Thanks for the reply!

[2016-11-30 08:19] dpryan79 commented on #38
This was annoying me too but the solution has nothing to do with sphinx-argparse. You end up needing to override the CSS style sheet that's applied. There are some nice step-by-step instructions [here](http://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html). I'll add a link to that in the documentation, since I expect many people would like to change this.

[2016-11-30 08:59] dpryan79 commented on #38
This is now documented in the `develop` branch.

[2016-11-30 08:59] #38 closed

[2016-11-30 15:08] dpryan79 commented on #29
I've just implemented an apparent fix for this in the next release. I think your solution was on the right track, but I found it preferable to still print `Undocumented` in cases where absolutely nothing else would be printed (e.g., no help or description or list of options).

[2016-11-30 15:10] #29 closed

[2016-12-01 19:11] ajm188 commented on #38
Awesome thanks! @dpryan79++ 😄

[2016-12-04 00:27] dpryan79 commented on #37
This is now fixed in `develop` and will be present in the next release, which I'd like to push out sometime in the next week if I can get control of the pypi repository.

[2016-12-04 00:27] #37 closed

[2016-12-18 15:35] sils opened #44 "Markdown -> RST Conversion"
We don't really wanna use rst for our main description, rather markdown which is optimized for plain text readability.

Would be nice to auto convert it to rst, see also http://api.coala.io/en/latest/Developers/coala_settings.html - maybe using pandoc or somethin'

[2016-12-18 15:36] sils opened #45 "Align options table properly"
The options table isn't very well readable :/ See http://api.coala.io/en/latest/Developers/coala_settings.html

[2016-12-18 15:37] sils opened #46 "Make "Options" a heading"
See http://api.coala.io/en/latest/Developers/coala_settings.html would be nice to have "Options", "Positional Arguments" etc. headers so they're linkable and give the document some structure

[2016-12-18 15:38] sils opened #47 "Options: Show argument groups"
For http://api.coala.io/en/latest/Developers/coala_settings.html we defined argument groups and I think it'd be great to have them in the generated document

[2017-01-11 18:14] fjhaveri opened #48 "Can't download 0.1.16 using pip."
I want to use 0.1.16 version but pip cannot find that version. Is there specific reason why the version 0.1.16 was not updated on pip ?

[2017-01-11 19:09] dpryan79 commented on #48
@ribozz hasn't granted me access and the pypi folks take forever to make changes. I've requested to get access to the pypi account, but haven't had the request granted yet. You can still use pip, but the command would then be something like:

    pip install --user --upgrade git+https://github.com/ribozz/sphinx-argparse

[2017-01-26 20:28] ribozz commented on #48
Sorry for that :(
@dpryan79 what's your username on PyPI? I will add maintainer access to you.

[2017-01-26 20:29] dpryan79 commented on #48
@ribozz: dpryan

[2017-01-28 21:59] dpryan79 commented on #48
This is now on pypi.

[2017-01-28 21:59] #48 closed

[2017-01-28 22:38] dpryan79 commented on #44
This isn't really related to sphinx-argparse, it just requires a tweak to your `conf.py` and installing a package. This also happens to be supported on readthedocs. Instructions are [here](http://blog.readthedocs.com/adding-markdown-support/), which I'll make reference to in the sphinx-argparse documentation.

[2017-01-28 23:01] dpryan79 commented on #44
Ah, that's on a per-file basis. I'll see if I can something together to flag markdown to be sent through [recommonmark](https://github.com/rtfd/recommonmark) first.

[2017-02-14 06:37] croth1 opened #49 "argument groups duplicate arguments"
This parser

[code]

gives this command line help:

[code]

but renders to following sphinx output:

[code]
[code]

[2017-02-18 10:58] croth1 commented on #49
The error is probably here: https://github.com/ribozz/sphinx-argparse/blob/master/sphinxarg/ext.py#L70

The initialization of `items` should probably go into the loop iterating over the argument groups.

[2017-02-22 20:56] dpryan79 commented on #49
You're correct about the cause of this. I'd also like to fix how positional arguments in argument groups are handled (they're partially duplicated at the moment).

[2017-02-23 14:31] dpryan79 commented on #49
This is now fixed in the `develop` branch. I'll post a new version on Monday at the latest with this.

[2017-02-24 13:44] dpryan79 commented on #49
0.1.17 is now available on pypi.

[2017-02-24 13:44] #49 closed

[2017-02-26 23:19] dpryan79 commented on #46
FYI, I'm working on this now in the `features/implement46` branch. It's mostly functional at this point, feel free to give it a try. One of the current issues is that one can't always link to groups of arguments if their header is duplicated (e.g., in a sub-commands with partially overlapping argument groups).

[2017-02-26 23:21] dpryan79 commented on #47
It looks like the argument groups are showing up (I assume that `Mode` and `Configuration` are examples of your argument groups).

[2017-02-26 23:23] dpryan79 commented on #45
This is a sphinx styling related issue. At least things like `--format` being line wrapped you can presumably be fixed in CSS. This package passes the arguments back to sphinx as you specify them, sphinx is what does the actual formatting.

[2017-02-27 20:18] dpryan79 commented on #45
BTW, I have a section about this now [in the documentation](http://sphinx-argparse.readthedocs.io/en/stable/misc.html#text-wrapping-in-argument-tables).

[2017-02-28 10:45] dpryan79 commented on #46
This is now implemented in the `develop` branch and will be included in the next release.

[2017-02-28 10:45] #46 closed

[2017-03-02 08:53] eezltn opened #51 "Handling arguments with empty default"
Arguments (both required and optional) with empty string as default value are rendered like this:

| name= | Argument with empty default |
| ------------- | ------------- |

Equal sign without anything after is confusing, would be better the leave out `=` or to show python empty string, like `name=''`.
Adding a new directive `:showemptydefault:` would be nice, so that empty defaults are shown only

[2017-03-02 21:49] dpryan79 opened #52 "Markdown inclusion"
Related to #44, the following still need to be finalized:

 - [x] Can you make images links?
 - [x] Can code blocks be assigned a code type?
 - [ ] ~~Is there a way to get sphinx to not strip white-space from the right?~~

Additionally, it would be nice to render reStructuredText and Markdown in command descriptions and help messages:

 - [x] reStructuredText
 - [x] Markdown

This would require an

[2017-03-02 21:50] dpryan79 commented on #52
Progress on this can be tracked in the `feature/implement44` branch.

[2017-03-04 22:22] dpryan79 commented on #52
There's no way to not strip white-space, this is done inside docutils.

[2017-03-04 22:27] dpryan79 commented on #44
This is now implemented in the `develop` branch and will be present in the next release.

[2017-03-04 22:27] #44 closed

[2017-03-04 22:50] dpryan79 commented on #51
In the `develop` branch the whole `name=''` thing is done away with, since I've found that users find this incredibly confusing. Instead, it's be more like:

| option | help message |
| ------- | ----------------------------------- |
| name | Argument with empty default.<br/> <br/>Default = "" |

[2017-03-04 22:50] #51 closed

[2017-03-04 22:51] #52 closed

[2017-03-10 16:58] arewm opened #54 "Feature request: nosubcommands available outside manpage generation"
I would like the nosubcommands option to be available for normal argparse usage and not just when generating manpages.

I have implemented this change on a local copy and would be fine contributing it. ~~I have never contributed before so would just need to know the procedure.~~ I have created a pull request for this change, so the issue can be closed.

[2017-03-10 17:03] arewm opened #55 "Feature request: directive to ignore the epilogue"
I have an argparse epilogue that contains text that can be interpreted as .rst. In order to allow the documentation to be generated properly, I need to the epilogue when parsing.

For consistency, the option to ignore the description can also be added if desired.

I have implemented this change on a local copy and would be fine contributing it. ~~I have never contributed before so would just need

[2017-03-15 10:37] lordmauve opened #58 "Required named arguments shown as optional"
Version: sphinx-argparse==0.1.17

In the generated output I see required named arguments, eg

    parser.add_argument('--foo', required=True)

being grouped under the heading "optional arguments". This is likely to be very confusing for my application's users. The usage text is correct (ie. omits square brackets).

[2017-03-15 10:41] lordmauve commented on #58
Screenshot demonstrating this issue:

![sphinx-argparse-issue58](https://cloud.githubusercontent.com/assets/617224/23944728/c56d6208-096b-11e7-9672-cdd3b28b7983.PNG)

As you can see in the usage, `--packdir` is a required argument.

[2017-03-15 11:06] lordmauve opened #59 "Default arguments for string parameters get mutated"
Version: sphinx-argparse==0.1.17

When I use sphinx-argparse in multiple places within my documentation, default values for string parameters seem to grow additional levels of quoting.

For example, several subcommands have a deployment-template parameter. In each place it shows as having a different number of quotes:

    --deployment-template="""{tag_namespace}-{tag_version}"""

then

    --depl

[2017-03-15 11:30] dpryan79 commented on #58
Could you install the develop branch and check if this is fixed there?

[2017-03-15 11:31] lordmauve commented on #58
I believe this is related to [Python issue #9694](http://bugs.python.org/issue9694).

[2017-03-15 11:34] lordmauve commented on #58
@dpryan79 I can't easily install from Github at work.

Besides I believe this code in the develop branch is the culprit:
https://github.com/ribozz/sphinx-argparse/blob/develop/sphinxarg/parser.py#L159

[2017-03-15 11:38] lordmauve commented on #58
I suggest calling the default argument groups "Named Arguments" and "Positional Arguments" - at least, that's how I'm going to work around this for the time being.

[2017-03-15 13:38] dpryan79 commented on #58
Seems like a reasonable path forward, that's what I'll implement then for the next release.

[2017-03-29 12:54] dpryan79 commented on #59
This should now be fixed for the 0.2.0 release, which is due out Friday.

[2017-03-29 12:54] #59 closed

[2017-03-29 13:07] dpryan79 commented on #58
This has now been changed for the 0.2.0 release, due out Friday.

[2017-03-29 13:07] #58 closed

[2017-03-29 13:30] #55 closed

[2017-03-29 13:45] #54 closed

[2017-03-31 08:17] #45 closed

[2017-04-24 20:54] #47 closed

[2017-05-04 23:18] fjhaveri opened #62 "NavigationException: Current parser has no child elements."
When I try to create documents using "make html" command I see following exception:
_$docs>make html
Running Sphinx v1.5.5
loading translations [python]... not available for built-in messages
loading pickled environment... not yet created
building [mo]: targets for 0 po files that are out of date
building [html]: targets for 12 source files that are out of date
updating environment: 12 added, 0 ch

[2017-05-05 18:10] #62 closed

[2017-05-15 21:15] rjplevin opened #63 "Rendering of triple-quoted lines as "definition""
I just updated sphinx-argparse and see that long argument help strings (which I typically triple-quote) are being rendered as "definition", i.e., bold first line followed by indented subsequent lines.
Argparse, of course, handles these by changing interior sequences of white space to a single blank.

I think this extension should handle long strings the same way argparse does, or at least do so op

[2017-05-16 21:18] rjplevin opened #64 "0.2.0 breaks my documentation: code-block:: doesn't render properly"
I've just downgraded to 0.1.17 and confirmed that my sphinx pages are broken by something between commit 4dd6b91 (merge branch 'release/0.1.17') and 0.2.0. (The issue I reported yesterday also was introduced between these commits.)

I'm using the "@replace" directive with code blocks such as:

      .. code-block:: bash

         $ gt config project
         [MyProject]
         GCAM.DefaultProjec

[2017-06-07 09:04] userzimmermann opened #65 "[CRITICAL] Please don't import deprecated sphinx.util.compat anymore"
`sphinx.util.compat` is deprecated and although latest `sphinx-1.6.2` doesn't import it anymore internally, it causes issues with **rc** releases of `docutils` when `sphinx.util.compat` is imported by extensions, like:

[code]

Error log:

[code]

Then you have to add workarounds to `conf.py` like in https://github.com/coala/coala/pull/4334

You can also read more about the deprecation here:

http

[2017-06-07 10:32] jayvdb opened #67 "Add minimum requirment for Sphinx"
It is helpful to track the minimum usable version of Sphinx, especially as this also dictates the minimum version of docutils is available indirectly due to the Sphinx version.  This extension uses Sphinx and docutils .

A bit of digging shows that this extension requires at least Sphinx 1.0+ , and docutils 0.5, but it might actually be higher.

`sphinx.util.nodes.nested_parse_with_titles` was add

[2017-06-12 11:18] #65 closed

[2017-06-12 11:35] dpryan79 commented on #67
Good catch, I'll try 1.1.0 (as an arbitrary old release) and set that as the minimum if it works. That's probably sufficiently old that it doesn't make sense to even look further back.

[2017-06-12 22:55] tony opened #68 "Document changes"
Loving the plugin, thank for it

It'd be nice to know what changes between versions (re: https://github.com/cihai/unihan-etl/pull/17 and https://github.com/emre/kaptan/pull/52)

[2017-06-13 07:05] dpryan79 commented on #68
It's part of [the README](https://github.com/ribozz/sphinx-argparse#changelog--contributors) and in the notes on the releases tab.

[2017-06-13 07:07] tony commented on #68
Right in front then.

Open to moving it to a CHANGES file and making available via RTD?

Other thing is setup.py could use some metadata for the github project too

[2017-06-13 07:10] dpryan79 commented on #68
Yes to all of those suggestions :)

[2017-06-14 10:04] dpryan79 commented on #67
A little bit of playing around suggests that 1.2.0 is the oldest release that can build reasonably complex projects without error. I'll set that as the minimal version, then. Unless you need it sooner, that won't be live until the next release (no particular ETA at the moment).

[2017-06-14 10:15] jayvdb commented on #67
That all sounds good.  No release to do a release just for this IMO.  It is a fairly obscure type of problem, and most people experiencing a problem like this with dependencies will likely consult the setup.py/requirements.txt on master anyway, so a commit there will suffice.

[2017-06-14 12:52] #67 closed

[2017-06-14 12:53] dpryan79 commented on #67
This should now be documented in both the `master` and `develop` branches.

[2017-06-14 14:11] #68 closed

[2017-06-14 14:13] dpryan79 commented on #68
The changelog is now on RTD and I've added some metadata to setup.py for pypi for whenever the next release comes out.

[2017-07-06 09:50] j3mdamas opened #73 "Double hyphen (--) rendered as en dash (–)"
Hi,
First of all, thanks for the great extension! It's been very useful.

Just one small bug I noticed, which can be seen in your examples page:
https://sphinx-argparse.readthedocs.io/en/stable/sample.html

For example, in the `sample` commands, the `--tree` option is rendered as it is on the command-line helper, but in the Named Arguments section, it is rendered as `–tree`, with an en dash instea

[2017-07-06 10:08] dpryan79 commented on #73
This has bothered me recently as well, thanks for bringing it up! I haven't tested it yet, but my guess is that [this is the culprit](http://www.sphinx-doc.org/en/stable/config.html#confval-html_use_smartypants). If that's the case, we can at least document that people should change this setting.

[2017-07-06 10:15] j3mdamas commented on #73
Thanks for the tip! @alejandrovr, can you check it out?

[2017-07-06 11:49] alejandrovr commented on #73
Sure!

2017-07-06 12:15 GMT+02:00 João M. Damas <notifications@github.com>:

--
Alejandro Varela Rial
MSc in Bioinformatics for Health Science.

[2017-07-21 19:33] standage commented on #30
@jonathf I just had a similar problem. My python package `kevlar` has a `cli` subpackage with the parser declared in `kevlar/cli/__init__.py`. The code to invoke the parser is `kevlar.cli.parser()`, and using `:module: kevlar.cli` worked on Mac/Python3, but not on Linux/Python2. Not until I changed it to `:module: kevlar.cli.__init__` did it work.

In hindsight, this is pretty obvious, but it took

[2017-08-03 21:01] MikeDacre opened #74 "Issues with RTD and CommonMark > 0.5.6"
Recently RTD just stopped building my docs with the following error:

python /home/docs/checkouts/readthedocs.org/user_builds/fyrd/envs/dev/bin/sphinx-build -T -E -b readthedocs -d _build/doctrees-readthedocs -D language=en . _build/html

[code]

![image](https://user-images.githubusercontent.com/77714/28943571-277ec23c-7854-11e7-9711-8168d6f98582.png)

I also reported the on the RTD issue tracker

[2017-08-13 03:57] jbloom opened #75 "extended results of *argparse* directives are not formatted"
*sphinx-argparse* says [here](https://sphinx-argparse.readthedocs.io/en/stable/extend.html) that it allows extended directives for arguments.

I can add these extended directives, but when I do so any reStructuredText formatting is stripped away from the directives.

See [this issue](https://github.com/bitprophet/alabaster/issues/107#issuecomment-321047491) for more details.

[2017-08-13 16:34] fjhaveri opened #76 "How to add usage/examples with argparse CLI ?"

[2017-09-04 07:06] dpryan79 commented on #76
Do you mean like the example usage [here](http://deeptools.readthedocs.io/en/latest/content/tools/computeMatrix.html#scale-regions)? If so, you can put that in the `epilog=` section of the `ArgumentParser()`:

    parser = argparse.ArgumentParser(description="Some text",
                                     epilog="This is some example usage:\n command -flag -1 -2 <some mandatory file> ...")

[2017-09-04 13:20] mmagnus opened #78 "Don't Pos. Named Arguments as headers"
I want to update sphinx-argparse to be able to use `:nodescription:`.

However, when I update the package I get something like this:

![screen shot 2017-09-04 at 3 18 26 pm](https://user-images.githubusercontent.com/118740/30028176-5623e600-9184-11e7-8b7b-c2a289640d97.png)

is there a way to get rid of these arguments, and keep it as it was before?

Like here https://rna-pdb-tools.readthedocs.io/e

[2017-09-04 13:36] dpryan79 commented on #78
Try setting the depth for table of contents:

    .. toctree::
       :maxdepth: 2

In newer versions all of the sections are linkable, whereas they weren't in old versions. A side-effect of linkability is possible inclusion in the table of contents.

[2017-09-04 13:50] mmagnus commented on #78
@dpryan79 yeah, thanks. I was thinking of that, but I have different levels.

![screen shot 2017-09-04 at 3 49 18 pm](https://user-images.githubusercontent.com/118740/30029222-ad9c031e-9188-11e7-8b9d-71b7f0e59399.png)

Do you think, that there is another way to stop these inclusions?

[2017-09-04 13:58] dpryan79 commented on #78
Not to my knowledge, but I'll have to look into it.

[2017-09-04 14:12] mmagnus commented on #78
Thanks!

Eh, I don't know the code. It would be great to add a directive to enable or disable it. Or maybe it's just me ;-)

[2017-09-18 09:40] exhuma opened #79 "Crash when using a subgroup without title."
When adding a subgroup like the following (notice that `title` is missing):

    parser.add_argument_group(description='foo')

the process will crash with the error below. According to the Python docs, the default for `title` is `None`. This can be fixed by passing in a title to `add_argument_group`.

[code]

[2017-10-05 13:42] volans- opened #80 "Generated manpage missing space after bold blocks"
The manpage generated with using this extension is missing the first `-` in the list of options because in the generated file there is no space between the `.B` prefix and the line content:

[code]

This is rendered as:
 **c, --config**
missing the first dash.

From pip freeze:
[code]

[2017-10-05 13:52] volans- opened #81 "Named arguments value label is missing in generated documentation"
When a named argument requires a value, the value label is not included into the generated documentation (I've checked in both HTML and manpage), making impossible to know if they need an argument or not.

As an example, if in the normal help message I have:
[code]

I would expect the `VALUE` to be kept into the documentation, but it's not as far as I can tell.

Version used:
[code]

[2017-10-05 14:10] volans- opened #82 "Manpage: missing sections"
I cannot find manpage sections listed in the source code at [_construct_manpage_specific_structure()](https://github.com/ribozz/sphinx-argparse/blob/master/sphinxarg/ext.py#L241) in the generated manpage. Am I missing some configuration by any chance?

The generated manpage has those sections:
[code]

While from the source code and usual best practices in manpage generation I was expecting to have

[2017-10-05 14:19] volans- opened #83 "Long options wrapped after the double dash"
In the HTML output some long options are wrapped exactly at the double dash, making quite hard to read the table. As an example I got:
[code]

I'm using the Read the Docs theme and I've applied the CSS fix for `white-space` as suggested.
Have you considered the possibility to replace those specific dashes with non-breaking ones (`&#8209;`) ?

Versions:
[code]

[2017-10-16 06:09] tgarc commented on #78
I have the same issue. I don't want to add these extra links to the table of contents. Is there a way to control what heading level the headings will be on?

[2017-10-16 12:48] mmagnus commented on #78
... and I still think it would be nice to be able to on/off this feature (which is pretty nice, but not always that is what we want).

[2017-10-22 23:47] j3mdamas commented on #73
Just tried it and I think this is fixed now

[2017-10-22 23:47] #73 closed

[2017-10-23 02:41] j3mdamas opened #85 "Using rubric instead of TOC'able titles"
Hi,

I was trying to implement an option to use `nodes.rubric` instead of `nodes.title`, but I didn't quite achieve it: https://github.com/j3mdamas/sphinx-argparse/commit/2b884ecfa7ab806bc076894b59e74da0f20c727f

The objective was to suppress the "Positional Arguments" and "Named Arguments" from the sidebar, but maybe I am approaching this incorrectly. I was able to change them into a rubric entry

[2017-10-23 02:58] j3mdamas commented on #85
I kind of made a work-around that works in a particular case, by using the `:maxdepth:` of `.. toctree::`, but can definitely not work in other cases

[2017-12-13 12:44] j3mdamas commented on #85
Any ideas? @ribozz

[2017-12-22 10:25] lqc commented on #73
Hi, I wouldn't consider this issues fixed. This is a global setting and a bulk my documentation want this to be set to the default value, which is ``True``. Would you consider adding an escape sequence to the generated markup instead ?

[2017-12-28 15:19] j3mdamas commented on #73
Hi @lqc

When I said this is fixed is when I noticed our documentation now has this correct: https://software.acellera.com/docs/latest/parameterize/index.html. And we did not change the `html_use_smartypants` to True as @dpryan79 suggested, so I assumed it just got fixed somehow?

[2017-12-30 05:23] iamjackg commented on #75
I've been taking a look at this, and I think the issue is in ext.py.

The `map_nested_definitions` function does this:
```definitions[term] = (classifier, subitem[idx].astext(), subContent)```

That `astext` call means that the definitions are put into the dictionary as plain text, stripping away all markup. This plain text is then passed to `renderList` later on, in both `print_action_groups` and

[2018-02-08 12:08] vingar commented on #74
Would you have a wordkaround for this problem on rtd ? Does it need a new sphinx-argparse version relaxing the dependency on CommonMark ?

Thanks

[2018-02-28 12:27] fsimkovic opened #87 "Allow Mock imports"
`Mock` imports are currently not supported. It would be great if `sphinx-argparse` would use the `autodoc_mock_imports` list provided in `conf.py`.

[2018-03-05 18:43] gaborbernat opened #88 "sub-commands causes duplicate label"
[code]

[2018-03-12 08:08] #74 closed

[2018-03-15 09:28] cfelder opened #90 "noepilog option spelled wrong in basic usage documentation"
In basic usage the ``noepilog`` option is spelled ``noepilogue`` which is wrong in respect to the corresponding code.

[2018-03-15 09:29] cfelder opened #91 "readthedocs does not link to the correct GitHub project"
getting 404 not found

[2018-03-15 21:51] dpryan79 commented on #90
Indeed, I just made it `noepilog` in the documentation, since that's what the code uses. It should have always been `noepilogue`, though. I'll leave this open as a reminder to accept both `noepilog` and `noepilogue`.

[2018-03-15 21:51] dpryan79 commented on #91
Can you give me the link to a page with such a link?

[2018-03-16 07:55] cfelder commented on #91
It does not appear anymore. I expect this is unrelated to this project and the problem is on another side though. Thanks for your fast response. I will close this ticket.

[2018-03-16 07:55] #91 closed

[2018-03-26 01:22] nfearnley opened #92 "Please document passparser"
Add passparser to the documentation somewhere please. Right now it's only referenced in the changelog.

[2018-04-10 12:52] akaihola opened #93 "Some Sphinx roles in subcommand descriptions cause a crash"
It seems that most Sphinx roles, when used in the description of an `argparse` subcommand, cause sphinx-argparse to crash. The ones listed under "Other semantic markup" on the [Roles](http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#other-semantic-markup) Sphinx documentation page seems to work correctly, though.

Here is a minimal Sphinx project to reproduce this problem:

**

[2018-04-18 21:45] selimt opened #94 "Long positional arguments render incorrectly"
If the name of a positional argument is long, the table gets rendered incorrectly:

![sphinx_argparse_pos](https://user-images.githubusercontent.com/15021762/38959807-f2cd4336-4316-11e8-8280-005d54981756.png)

Using sphinx-argparse 0.2.2 with Sphinx 1.7.2 on Python 2.7.5

[2018-04-19 18:34] selimt commented on #94
Fixed it by adding a "docutils.conf" file with the following content:

[code]

[2018-04-25 12:06] stefraynaud opened #95 "Using directive ".. option::""
Hi,

nice package!

Why don't you use the "option" and "program" directive to declare options in sphinx?
This would increase the integration to sphinx.

[2018-05-23 07:06] TMiguelT opened #96 "AttributeError: Values instance has no attribute 'tab_width'"
When using sphinx-argparse, in Sphinx versions 1.7 and above, I get the following exception on build:

[code]

This goes away if I downgrade Sphinx to 1.6.X, or if I remove the `'sphinxarg.ext'` line from my extensions, so it's obviously caused by this module.

[2018-05-23 07:18] TMiguelT commented on #96
Full traceback: [sphinx-err-Xwi3_K.log](https://github.com/ribozz/sphinx-argparse/files/2029868/sphinx-err-Xwi3_K.log)

[2018-06-11 14:37] joaoe commented on #94
I had this issue before and investigated a bit.

`argparse` does output the option list correctly and consistently, so this is not a problem with `argparse`. The option list is output by `print_action_groups` in `ext.py`.

The problem is `docutil`, which converts the option lists to html. So, it seems adding a `docutil.conf` is a way to do it. https://bitbucket.org/birkenfeld/sphinx/commits/e34ebe

[2018-06-11 14:39] joaoe commented on #83
Duplicate of https://github.com/ribozz/sphinx-argparse/issues/94

[2018-11-12 16:11] mmagnus commented on #78
Hey, there. Is there any way to control this behavior right now? This is the thing that keeps me from updating the library in my project.

[2018-11-14 08:30] dpryan79 commented on #96
You'll need to post the file that's being rendered, this appears to be an issue in it rather than sphinx-argparse itself.

[2018-11-14 08:31] dpryan79 commented on #95
I have no real answer, perhaps this predated those directives?

[2018-11-14 08:31] #95 closed

[2018-11-14 08:32] #94 closed

[2018-11-14 08:38] dpryan79 commented on #92
Done, thanks for pointing this out!

[2018-11-14 08:39] #90 closed

[2018-11-14 08:40] dpryan79 commented on #88
Yes, that happens sometimes, the rendering is still correct in my experience. If you have a case where it isn't please let me know and we can reopen this.

[2018-11-14 08:40] #88 closed

[2018-11-14 08:41] dpryan79 commented on #87
Do you have an example of this? We use sphinx-argparse with mock in a number of our projects and the two work fine.

[2018-11-14 08:46] dpryan79 commented on #94
I've added this to the documentation, thanks!

[2018-11-14 08:48] dpryan79 commented on #78
@mmagnus Not at the moment. I'm pretty slow when it comes to dealing with issues on this package, but if you want to make a PR I'll happily merge it and post a new release :)

[2018-11-14 10:07] paulmueller opened #102 "Please make warning messages (e.g. "Failed to import ...") more verbose"
On several occasions, I ran into problems with sphinx-argparse, because it would give a warning message, e.g. ``WARNING: Failed to import "simple_parser" from "foo.cli"`` without any additional information why the import failed. This is especially cumbersome when trying to build on RTD where a different environment is used (e.g. no tkinter available).

I have set up an example repository here:
htt

[2018-11-14 10:18] dpryan79 commented on #102
I can make a simple change that then results in the following:

[code]

Would that suffice?

[2018-11-14 13:09] paulmueller commented on #102
Yes

[2018-11-14 13:17] dpryan79 commented on #102
OK, maybe I can get that pushed out in a new release today still.

[2018-11-14 14:03] #102 closed

[2018-11-14 14:09] dpryan79 commented on #102
This is now fixed in version 0.2.5, which is available in pypi now and conda probably tonight.

[2018-11-15 08:29] fsimkovic commented on #87
Not sure what I did wrong before but it does work now 👍

[2018-11-15 08:29] #87 closed

[2018-12-14 11:29] hahahannes opened #104 "Problem with rendering headlines"
Hi I am encountering a problem when I try to use a headline in my parser. I found out that it is working with sub parser but not with a normal parser. There the headline does not even get displayed. Instead a empty paragraph gets rendered.

Not working:
[code]

Working:
[code]

[2019-01-31 20:40] celaxodon opened #105 "Extension does not declare if it is safe for parallel reading"
When running `sphinx-build` with the `-j` flag for building documentation in parallel, sphinx generates a warning:
[code]

[2019-02-13 18:03] aaa34169 opened #106 "filename from abspath"
what is the right syntax for documenting from an absolute path:

`
.. argparse::
   :filename: "c://mypath//fonction.py")
   :func: parser
   :prog: sample
`

[2019-02-13 18:33] aaa34169 commented on #106
error come from ".
that s all

[2019-02-13 18:33] #106 closed

[2019-02-21 14:03] hstock commented on #82
Did you add the `:manpage:` parameter?

I had to add it like so:

[code]

Seems this is missing from the docs.

[2019-02-21 14:06] hstock opened #107 "Documentation should describe manpage-mode"
Currently the documentation does not mention how to generate man pages. I had to infer it from the source code.

[2019-02-21 16:32] hstock opened #108 "parser_navigate fails for subcommands with aliases"
`parser_navigate` throws an exception when trying to navigate to a subcommand with an alias.

Example: A subcommand `install` with alias `i`

The `name` attribute of the child data will be `install (i)` instead of `install`. Accordingly the `parser_navigate` fails because it uses the `name` attribute for comparison against path elements.

I have a test case and patch ready for this issue.

[2019-02-25 09:36] #108 closed

[2019-05-28 17:05] tsibley opened #110 "Better rendering for a single command with lots of subcommands"
A common CLI pattern is to have a single top-level command with lots of subcommands (e.g. git, docker). Currently that renders a heading/TOC tree like this (using git as an example):

[code]

This adds what feels like an unnecessary level of nesting due to the presence of the _Sub-commands_ heading. It would be nice to be able to suppress this, at least for the top-level command/parser, e.g.:

[co

[2019-06-21 17:47] dwysocki opened #112 "Handling static methods as :func: targets"
I have a project with a number of command line tools implemented as static methods and class methods.  It seems, however, not possible to tell `sphinx-argparse` how to access these parsers.

Simplified example:

If we have a module `cli.py`
[code]

None of the ways I think could generate documentation for this seem to work.

One way:
[code]
produces the error:
[code]

Another way:
[code]
produces

[2019-07-13 06:00] mmagnus commented on #85
I think similar issue <https://github.com/ribozz/sphinx-argparse/issues/78>

I'm getting such a mess :( I'm trying to find a way how to change it in the code, let's see where it gets me.

<img width="496" alt="Screen Shot 2019-07-13 at 7 59 51 AM" src="https://user-images.githubusercontent.com/118740/61167816-36f69680-a544-11e9-96d9-6699bb31c0ee.png">

[2019-07-25 20:36] chinmayprabhudesai commented on #82
@hstock, after adding the `:manpage:` sub directive, My arguments are not documented anymore.

[2019-08-01 10:27] hstock commented on #82
Currently not working on the project that needed this - but I'll get back to this for debian packaging of opentimestamps. (I am not directly involved in sphinx-argparse)

[2019-08-22 22:26] madebr commented on #73
Is this fixed because I can still reproduce this using the script below.
What am I missing?
[code]

[2019-08-23 10:04] DreamingRaven opened #114 "Option as headings not well documented"
#46 is [not well documented](https://sphinx-argparse.readthedocs.io/en/stable/misc.html#linking-to-action-groups), and with experimentation, and an extensive read through what is available short of reading source, I still could not get the anchors to work. Is there any way an example could be provided for both duplicate and non duplicate headers?

I am working on linking to "[Deep learning options

[2019-08-28 01:48] paravoid commented on #82
I bumped into this bug while trying to generate tox's manpage using sphinx-argparse. I suspect the culprit is the usage of action groups in combination with a bug in the code. I think in this section of the code:
https://github.com/ribozz/sphinx-argparse/blob/178672cd5c846440ff7ecd695e3708feea13e4b4/sphinxarg/ext.py#L310-L312
…the second line should read `if 'options' in action_group` instead, no?

[2019-09-02 15:05] madebr opened #115 "Missing hyphens"
Hello,
when creating a man page out of an ArgumentParser, the starting hyphen is not rendered.
So the option `--yes` is shown as `-yes` in the man page.
Similarly, a `-y` is shown as `y`.

I can reproduce the issue with the following code:
[code]

[2019-10-24 09:44] dvzrv opened #116 "LICENSE not in pypi tarball"
Hi!

I'm currently en route to moving sphinx-argparse to the official repositories of Arch Linux.
As this software is MIT licensed I'm required to package the license file alongside the software.
However, when downloading the pypi source tarball, the LICENSE file is missing.
It would be great, if this could be added, as not only distributions require clear license statements, but also e.g. compani

[2019-10-24 10:00] dvzrv opened #117 "Files in sphinx-argparse.egg-info are chmodded to 640"
Hi!

When packaging sphinx-argparse for Arch Linux I ran into the issue, that the file permissions in `sphinx-argparse.egg-info` (in the source tarball of version `0.2.5` on pypi) are set to `640`.
Is there a specific reason, why the world-readable bit was removed for those files?

This is fairly problematic, as the files would be installed within a packaging context in the same way (without the w

[2019-10-24 11:01] lucc commented on #107
@hstock can you share your findings here for all the people who might find this issue before it is fixed (me:)?

[2019-10-24 12:15] hstock commented on #107
Oh, that's a long time ago ;) You can find how I used it here: https://github.com/hstock/opentimestamps-client/blob/docs/doc/ots.rst

Basically you give it a function that returns the argparser of the program.

[2019-10-29 21:28] kyluca commented on #116
I believe this PR should be sufficient to get the LICENSE file into the source dist https://github.com/ribozz/sphinx-argparse/pull/118

I couldn't see where the tar release was built during any Travis/build scripts, assuming it's done manually with `python setup.py sdist` and uploaded separately? Would be good to add the commands to the `.travis.yml`.

[2019-11-21 19:10] hyanwong opened #119 "Feature request: support for argparse.SUPPRESS"
When `help=argparse.SUPPRESS` the argument in omitted from argparse listing. It would be nice if this was also respected by sphinx-argparse, and no documentation was output for these arguments.

[2019-12-10 08:43] luigino opened #121 "Some tests fail when py.test has a different name"
Trying to package sphinx-argparse for openSUSE Tumbleweed and I've stumbled into a small [problem](https://github.com/alex-rudakov/sphinx-argparse/files/3943781/sphinx-argparse.txt).

To invoke the test we use a macro that cycles through the various python incarnations (2, 3 and pypy) and consequently each py.test executable comes with a different suffix.
Unfortunately it looks like that test/test

[2019-12-13 11:24] mcepl commented on #121
OK, so this is rather awful hack how to deal with the problem:
[code]
(and of course you have set environmental variable ``PYTEST_NAME``).

[2020-01-14 13:18] Phlya commented on #87
Sorry for raising an old thread, but I am having this issue - mock imports seem to work fine for the normal `automodule` part of documentation, but when I add `argparse` it immediately starts complaining about importing a mocked external dependency... Any ideas? Thanks!

[code]

While in my conf.py I have:

[code]

[2020-01-20 09:55] dpryan79 commented on #87
@Phlya We use the following:

[code]

That should allow sphinx to fully mock things.

[2020-01-20 11:15] Phlya commented on #63
Agree - at the same time single-line help strings are treated as descriptions, not definitions, which is counter-intuitive for me.

[2020-04-21 14:28] tirkarthi opened #122 "Deprecation warning due to invalid escape sequences."
Deprecation warning due to invalid escape sequences. Using raw strings or escaping them again will resolve this.

[code]

[2020-04-21 20:43] #122 closed

[2020-04-21 20:43] dpryan79 commented on #122
Thanks!

[2020-05-09 17:42] hanxiao opened #124 "sphinx/sphinx-argparse can not interpret hyphen as underscore or vice-versa"
Argument is defined with hyphen in `argparse`, e.g. `--timeout-ready`. In Python, this argument is auto converted to `timeout_ready`. So the user often expects to find the result by searching either: with hyphen or with underscore.

However, right now only the `timeout-ready` query gives the full result.

I guess some kind of acronym needs to be added for hyphen and underscore, but at where? Shoul

[2020-05-25 20:38] qha commented on #121
I made a less awful fix in d7a8384f1d4a0a3074a803fc6429481a918e4780 (part of #113), could you test it and see if it solves the problem for you too?

[2020-05-26 13:33] lgbaldoni commented on #121
@qha works for me

[2020-05-26 16:33] qha commented on #121
Thank you for the confirmation!

[2020-06-01 14:46] eric-wieser commented on #124
As mentioned in https://github.com/sphinx-doc/sphinx/issues/7648#issuecomment-636900153, I think the actual report here is that the value of `action.dest` (which just happens to default to swapping `-` for `_`) is not present anywhere in the generated docs.

Perhaps that's deliberate though, since `dest` is an implementation detail, not a property of the interface being documented.

[2020-06-05 21:15] tsibley commented on #108
I just ran into this same issue. The fix in PR #109 was merged over a year ago, but there's been no release since. I'd really appreciate it if someone could make a release to PyPI.

[2020-06-08 17:51] tsibley commented on #108
@dpryan79 @alex-rudakov Any chance of this bug fix getting released soon?

[2020-07-29 20:39] djhoese opened #127 "Section numbers wrong when multiple argparse directives used in single page"
I have a documentation page that lists a series of utility scripts like:

[code]

But when I render this, Sphinx can't tell the difference between the two "Positional Arguments" and "Named Arguments" section so it chooses the section numbers based on the last sections with those titles. So if "Utility Scripts" page is number 7, then "Util Script 1" is 7.1 and "Util Script 2" is 7.2, but the first

[2020-08-20 23:16] jdillard opened #128 "Consider adding the sphinx-extension GitHub topic"
Just wanted to say you should consider adding the sphinx-extension topic, https://github.com/topics/sphinx-extension, to the repo so it is easier for others to find on the GitHub ecosystem. There are currently 94 other sphinx extensions that use that topic.

[2020-08-26 07:34] schlepuetz opened #130 "%(prog)s format specifier is not converted in description and epilog"
The ```%(prog)s``` format specifier of argparse does not seem to be picked up and replaced by the program name in the ```description``` and ```epilog``` arguments to argparse.

I frequently add usage examples in the epilog of the following form:

[code]

This issue seems to have been partially addressed in Fix #27, and the solution works well for the ```help``` arguments of individual argument def

[2020-08-26 07:36] schlepuetz commented on #130
Sorry, I just saw right now that exactly this issue seems to be already addressed in a pull requets:
https://github.com/alex-rudakov/sphinx-argparse/pull/113

[2020-10-01 22:37] jkugler commented on #88
I think I need to re-open this. This did not show up until I enabled `sphinx.ext.autosectionlabel`. In our doc system, we have all warnings treated as errors, since we want to make sure our docs are rendering correctly (e.g. no docs left out of index, etc.) So, this warning generates an error which kills the doc production In my case:

[code]
The two files concerned:

cache_secrets.rst
[code]

aqu

[2020-10-01 22:42] jkugler commented on #88
Adding this to config `autosectionlabel_prefix_document = True` gets rid of the above error, but then I get this one:
[code]

deploypkg.rst
[code]

[2021-01-17 10:44] gaborbernat opened #134 "Help with maintainance"
There are a few PRs and issues open and unaddressed. Do you need help with maintaining this project? I can offer to chip in (I'm the maintainer of the virtualenv/tox tools FYI).

[2021-01-17 10:45] gaborbernat commented on #88
The URL links are gibberish though in this case. IMHO the rendering still passes, but usability is sub-par and as such should be addressed.

[2021-01-17 11:43] mondeja commented on #134
It seems that the owner is completely dissapeared, do you want to start a fork of this package? I will help you maintaining it.

[2021-01-17 19:37] gaborbernat commented on #134
In the end made my own https://tox.readthedocs.io/en/rewrite/cli_interface.html#-root implementation optimized for sub commands, I'll probably release it separately at some point.

[2021-01-17 19:37] #134 closed

[2021-02-05 11:10] gaborbernat commented on #134
Done now under https://pypi.org/project/sphinx-argparse-cli

[2021-02-05 11:40] mondeja commented on #134
Thank you! :+1:

[2021-02-11 10:49] ashb opened #135 "Are you looking for a new maintainer?"
Hi there,

Love this project, and we use it on apache/airflow where it's great.

I notice that there are a number of open PRs, and I understand the burden of being an open-source maintainer, so I'd like to volunteer to help address some of these, get them merged/closed etc and then eventually released.

So I'm wondering if you are looking for help maintaining this project @alex-rudakov?

(I hope I

[2021-02-16 13:37] dpryan79 commented on #135
I think I'm the only (non-active on this project) maintainer left. I'm happy to add you since this isn't relevant enough to me any more that I can devote any significant amount of time to it.

[2021-02-16 13:44] dpryan79 commented on #135
Actually, it doesn't appear that I have admin privileges on this repos, only commit/tag/etc. privileges. On pypi I have maintainer access but can't manage the account. I'm happy to help however I can with transferring access on pypi. At least on github you can just fork the repo and be done with it.

[2021-02-16 13:49] ashb commented on #135
I'm `ashb` on PyPi

[2021-02-16 13:56] dpryan79 commented on #135
@ashb Can you follow the procedure layed out in https://www.python.org/dev/peps/pep-0541/#how-to-request-a-name-transfer ? If you do that and post a link to it I can at least write in support of it. It took me a while to get in touch with the actual project owner a few years ago and I imagine it'd be even more difficult now. So that combined with the only listed maintainer supporting the request s

[2021-02-16 14:29] ashb commented on #135
@dpryan79 https://github.com/pypa/pypi-support/issues/905

[2021-02-20 07:24] lucc commented on #115
This also happens to me.

It appears that in the generated man page the lines start with
[code]
If I manually edit this to add a space after the B and before the first `\-` it looks good when viewed with man:
[code]

[2021-02-20 07:26] lucc commented on #135
What is your conclusion here: Will you continue development here or in a fork?

I was just hit by #115 but I think I found a fix and could open a PR.

[2021-02-20 23:00] ashb commented on #135
I'm going to continue dev, yes, but I was hoping to not have to rename the module.

[2021-02-21 10:19] JOJ0 commented on #135
This is great news @ashb as I am just starting out with sphinx-argparse and was shocked about the status of maintenance status of this repo. It would be a shame if this stayed unmaintained. Good luck with taking over and don't feel yourself forced to rush it! Not having to rename will benefit everyone, even if now everything takes more time! All the best! Jojo

[2021-02-21 17:38] JOJ0 commented on #115
yep, same here, first hyphen of --option gets lost as well as single hyphen of short form option. leaving manpage rendering unusable. Pretty frustrating as sphinx-argparse appeared to be a promising module for my needs. Found any workaround @lucc except manually editing the generated manpage file? Any other usable results with other tools? I am playing around with sphinxcontrib-autoprogram at the

[2021-02-21 18:26] lucc commented on #115
I had a look at the code yesterday but noticed that I don't have any idea how sphinx works and how a plugin can integrate with that (it is by no means a small script which you read through and understand the gist of it at a glance :smile: ).

I found this line: https://github.com/alex-rudakov/sphinx-argparse/blob/master/sphinxarg/ext.py#L152 but I did not look into running sphinx with a local chec

[2021-02-27 00:57] ashdwilson commented on #135
👍

[2021-04-04 12:54] laf0rge commented on #135
@ashb why don't you start working in a fork of this github repo, consolidating/merging various PRs that have accumulated here.

Whether or not pypi will eventually grant you permission to take over is unrelated to the above.

The most important part is to ahve one repo where the back-log of patches/PRs is being processed and where development can continue.

Thanks for stepping up!

[2021-04-04 14:47] pradyunsg commented on #135
FWIW, it might make life easier for PyPI folks, if there's a replacement ready -- because then it's less of "I intend to revive the project" and more of "I have revived the project, and would like the PyPI name".

[2021-04-14 13:44] ashb commented on #135
Yes, good idea. Starting over at https://github.com/ashb/sphinx-argparse

[2021-04-15 00:09] gaborbernat commented on #135
In case anyone is looking for an alternative rendering, and that's well maintained, check out https://pypi.org/project/sphinx-argparse-cli/, which I created after enquiring about similar here https://github.com/alex-rudakov/sphinx-argparse/issues/134

[2021-04-15 12:58] ashb commented on #135
@gaborbernat Happy to use/help with your fork rather than having another.

In 134 you said:

Is that still the case? Does it work for normal commands just as well as this module does?

[2021-04-15 13:05] gaborbernat commented on #135
Yes it does. 👍

[2021-04-15 13:05] gaborbernat commented on #135
It's more of a new implemention than fork 😁

[2021-06-03 18:34] kloczek opened #137 "0.2.5: pytest is failing"
[code]

[2021-06-03 19:04] kloczek opened #138 "0.2.5: setuptools build_sphinx target is failing"
[code]

[2021-06-03 19:40] kloczek commented on #138
BTW I was forced to use souece tree from git repo because i sdist tar ball there is no `docs/` direcrory with documentation.

[2021-08-05 10:19] kloczek commented on #138
Here is the patch which fixes building documentation:
[code]
Result with that patch:
[code]
Do you want me to open PR?

[2021-08-05 10:24] kloczek commented on #138
And yoe t another detail.
You are using `pkg_resources.require("version")` in copy.py which is causing that it needs venv to build documentation or module needs to be first installed.
Below patch allows build documentation without those steps.
[code]

[2021-09-03 12:50] ashb commented on #135
@dpryan79 Are you able to grant me permissions on https://readthedocs.org/projects/sphinx-argparse/ please?

[2021-09-05 19:02] dvzrv opened #139 "0.3.0 sdist tarball on pypi.org has no tag"
Hi! I package this package for Arch Linux.

The current version [0.3.0 on pypi.org](https://pypi.org/project/sphinx-argparse/0.3.0/#files) does not have an accompanying tag in this repository. Please add it, as this way downstreams can guard against supply chain attacks by comparison of files.

[2021-09-05 19:04] dvzrv opened #140 "0.3.0 sdist tarball on pypi misses tests"
Hi!  I package python-sphinx-argpars for Arch Linux.

When packaging a python package downstreams usually attempt to run tests. These are now missing in the sdist tarball on pypi.org and it would be great if you could add them.

[2021-09-20 18:13] #139 closed

[2021-11-19 19:13] thedannymarsh opened #142 "How to use relative paths for filename"
Hi, I have a rst file:
[code]
which works properly on my Windows computer, but breaks on read the docs:
[code]
How can I add a relative path outside of the docs directory?

Thanks!

[2021-11-20 11:38] JOJ0 commented on #142
This repo is abandoned, but there is an actively mantained fork you should use: https://github.com/ashb/sphinx-argparse

@ashb Your fork does not have issues github feature enabled.You might wanna consider that. It's a default on forks I think.

[2021-11-20 11:48] ashb commented on #142
@JOJ0 oh thanks! Issues turned on there now

[2021-11-22 15:46] thedannymarsh commented on #142
I put it on that repo, thanks!

[2021-11-30 18:35] #142 closed, assigned to nobody

[2021-12-28 04:13] kloczek commented on #138
ping ..?

[2021-12-28 17:17] JOJ0 commented on #138
@kloczek this repo is abandoned. use https://github.com/ashb/sphinx-argparse

I am sure your PR will be welcome there :-)

[2021-12-28 18:46] kloczek commented on #138
Just tested that forrk and all builds cleanly.
Only missig bit is missing residual setup.py to be able use setuptools<>sphinx integration.
Hopefully my workaround in such situations wit `echo 'from setuptools import setup; setup()' > setup.py` will be possible replace by some generic `build` module integration with sphinx.

[2022-07-06 13:59] nazimaziz110 opened #143 "There is no support for class.method type entry"
currently func: only supports a py module level procedure.
I have classes each with its own argparse set.
I need to be able to support such a scenario
Any help would be appreciated.

[2022-07-06 21:40] JOJ0 commented on #143
this repo is abandoned. go to @ashb fork

[2022-10-04 15:40] keithbriggs opened #144 "Named Arguments listing - two hrules when there are two underlines in argument name"
This looks like a bug: when there are two underlines in an argument name, then the generated html has a rule above and below the name.   Normally, there is only a rule above the name.  (Actually, ` -print_versions` has only one underline, but we still get the two rules.)
![Screenshot from 2022-10-04 16-33-59](https://user-images.githubusercontent.com/5146641/193863441-b3bbd63b-030c-43ea-991d-03752

[2022-10-04 19:38] JOJ0 commented on #144
There is an actively maintained version of sphinx-argparse: https://github.com/ashb/sphinx-argparse/releases/tag/0.3.2

[2022-10-06 14:34] #144 closed, assigned to nobody

[2022-10-06 14:34] keithbriggs commented on #144
See https://github.com/ashb/sphinx-argparse/issues/20 .

[2022-10-28 21:50] #117 closed

[2022-10-28 21:50] dvzrv commented on #116
This repo is not the current upstream anymore, so closing.

[2022-10-28 21:50] #116 closed